.home-container {
    display: flex;
    gap: 20px;
  }
  
  .course-status {
    display: block; /* Show by default */
  }
  
  /* Hide CourseStatus when screen width is below 768px */
  @media screen and (max-width: 768px) {
    .course-status {
      display: none;
    }
  }
  